body {
  background-color: #ffffff;
}
.jumbotron {
  background-color: #97fd5c;
  /* Find light color of success panel */
  color: #2b3e50;
  padding-top: 1%;
  padding-bottom: 2%;
}
.panel-heading {
  color: blue;
}
