body {
background-color: aqua;
}
.jumbotron {
	background-color: #8c149c;
	/* Find light color of success panel */
	color: #f0f059;
	padding-top: 1%;
	padding-bottom: 2%;
}
.panel-heading {
	color: blue;
}
